.MenuList h2 {
    text-transform: uppercase;
    font-weight: bold;
}

.MenuListSection {
    color: black;
}

.MenuListSection h3 {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.MenuListSection h3 {
    text-transform: uppercase;
}

.MenuCard {
    margin: 2em;
}

.card {
    background: transparent;
    margin-bottom: 1em;
    filter: opacity(8px);
    color: white;
    box-shadow: 10px 10px 5px #000;
}

.MenuList-OrderStatus {
    color: white;
}